body {
	font-family: "Arial", sans-serif;
}

.logo {
	font-family: "Brush Script MT", sans-serif;
	font-weight: bold;
	font-size: 56px;
	text-align: center;
	padding: 0;
	margin-top: 50px;
	color: blue;
}

img {
	height: auto;
	width: 400px;
	margin: 0 auto;
	display: block;
}

ul {
	text-align: center;
	list-style: none;
	font-size: 24px;
	line-height: 1.5;
}

a {
	text-decoration: none;
	cursor: grab;
}
